# Logs
logs
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directories
/test
/website
/docs
/node_modules

# Files
/.editorconfig
/.eslintignore
/.gitignore
/.npmignore
/.travis.yml
/.appveyor.yml
/CNAME

# Yarn stuff
.yarn-integrity
