# Hidden Files
.gitattributes export-ignore
.gitignore export-ignore
.DS_Store export-ignore
.gitkeep export-ignore
.deuxconfig export-ignore
.editorconfig export-ignore
.stylelintrc export-ignore
.eslintrc export-ignore
yarn.lock export-ignore
package-lock.json export-ignore
package.json export-ignore
releases.json export-ignore

# Folders
**/node_modules/** export-ignore
node_modules/ export-ignore
assets-src/ export-ignore
releases/ export-ignore
tests/ export-ignore
includes/customizer/assets-src/ export-ignore
